.main-background {
    margin-top: 50px;
    padding-top: 20px;
    background-color: rgb(240, 240, 240);
}

body {
    background-image: url("airplane.png");
    background-repeat: repeat;
    background-size: 50px 50px;
}

.btn {
    margin-top: 10px;
}